<h2>Games Ranking</h2>

<input type="hidden" #selection>

<form [formGroup]="playerForm">
  <div class="card-container">
    
    <input type="text" name="name" formControlName="name"/>
    <input type="number" name="matches" formControlName="matches"/>
    <input type="number" name="wins" formControlName="wins"/>
    
    
    <span>Para adicionar novo Jogador, Escreva pelo menos o nome</span>
    <button class="card card-small" (click)="submitNew()">
      <span>Adicionar Jogador</span>
    </button>

    <span>Para adicionar Partidas/Vitorias, selecione um nome na tabela abaixo e inclua quanto deseja adicionar</span>
    <button class="card card-small" (click)="submitEdit()">
      <span>Adicionar Partidas</span>
    </button>
  
    <button class="card card-small" (click)="submitEdit()">
      <span>Adicionar Vitorias</span>
    </button>
  </div>

    <div class="card-container">
      <table>
        <thead>
          <tr>
            <th>
            </th>
            <th>
              <span>Nome</span>
            </th>
            <th>
              <span>Partidas</span>
            </th>
            <th>
              <span>Vitorias</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of results">
            <td><input type="radio" (change)="select(player)" /></td>
            <td>{{player.name}}</td>
            <td>{{player.matches}}</td>
            <td>{{player.wins}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>

  <!-- Footer -->
  <footer>
      
  </footer>
